* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  color: inherit;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background: #000000;
  color: #e0e0e0;
  min-height: 100vh;
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.controls {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 280px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px;
}

.file-input-label {
  padding: 10px 20px;
  border: 1px solid #ffffff20;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.file-input-label:hover {
  background: #ffffff30;
}

.texture-select-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -20px;
}

.texture-select-container label {
  white-space: nowrap;
}

select {
  padding: 10px 16px;
  background: #ffffff20;
  border: 1px solid #ffffff05;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

select:hover {
  border-color: #ffffff20;
}

select:focus {
  border-color: #ffffff40;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider-container label {
  white-space: nowrap;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

input[type="range"] {
  width: 100%;
  height: 2px;
  background: #ffffff20;
  border-radius: 1px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#pixelSizeValue {
  min-width: 20px;
  text-align: right;
  font-weight: normal;
  flex-shrink: 0;
}

.download-btn {
  padding: 10px 20px;
  background: #e0e0e0;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.download-btn:hover {
  background: #d0d0d0;
}

.download-btn:active {
  background: #c0c0c0;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#resultCanvas {
  max-width: 100%;
  max-height: 80vh;
}
